@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Home Screen</h1>
                <h2>Welcome to SecureApp, a Product of SecureAccess Solutions.</h2>
            </hgroup>
            <p>
                SecureApp is all purpose system designed to allow any personnel within a 
                organistion or company to track when certain employees enter and leave
                any area or department for whatever reason. Please follow instructions below.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        There are numerous menus along the top of this tailored version for your organistaion.
        Home is the home page. 'About' is a information page about this company. 'Contact'
        contains information about contacting SecureAcccess Solutions.'Employee' is view
        listing all the employees recorded on this system for this department: 'Majestic 5'.
        'Log' shows the entry and leave times of each of the employees. 
    </li>

    <li class="two">
        <h5>Employee & Log </h5>
        'Employee' is view listing all the employees recorded on this system for this 
        department: 'Majestic 5'.'Log' shows the entry and leave times of each of the 
        employees.
    </li>

    <li class="three">
        <h5>CompanyPosition</h5>
        'CompanyPosition' details the grade of all the listed employees.
    </li>
</ol>
